<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bitebyte">

    <!-- Permiso para acceder a Internet (Firebase) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiteByte"
        tools:targetApi="31">

        <!-- Splash: determina rol y redirige -->
        <activity
            android:name=".model.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Flujo de autenticación -->
        <activity android:name=".model.MainActivity" android:exported="false"/>
        <activity android:name=".model.LoginActivity" android:exported="false"/>
        <activity android:name=".model.RegistrarUsuarioActivity" android:exported="false"/>

        <!-- Menús según rol -->
        <activity android:name=".model.MenuClienteActivity" android:exported="false"/>
        <activity android:name=".model.MenuMeseroActivity" android:exported="false"/>
        <activity android:name=".model.MisPlatosActivity" android:exported="false"/>

        <!-- Cocina -->
        <activity android:name=".model.PersonalizarPlatoActivity" android:exported="false"/>
        <activity android:name=".model.RegistrarPlato" android:exported="false"/>

        <!-- Mesas y pedidos -->
        <activity android:name=".model.UnirseMesaActivity" android:exported="false"/>
        <activity android:name=".model.MesasActivity" android:exported="false"/>
        <activity android:name=".model.SeleccionarPlatosActivity" android:exported="false"/>
        <activity android:name=".model.MisPedidosCocinaActivity" android:exported="false"/>
        <activity android:name=".model.MonitorearMesasActivity" android:exported="false"/>

        <!-- Pedidos entrantes y seguimiento -->
        <activity android:name=".model.PedidosEntrantesActivity" android:exported="false"/>
        <activity android:name=".model.HistorialPedidosActivity" android:exported="false"/>

    </application>
</manifest>
